/* Note: ALternate atyling of reset password component...! */

#custom-body {
    background-color: #299371;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

.MuiFormHelperText-root.Mui-error {
    color: white !important;
}